@CHARSET "UTF-8";


/*用于main.jsp*/
#maintop{
	width: 100%;
	height: 100%;
}

/*用于设置顶部Iframe的大小*/
#iframetop{
	height: 120px;
}

/*用于设置主页左部css*/
#middle_left{
	width: 100%;
	height: 100%;
	float: left;
	position:relative;
}
#iframeleft{
    float:left;
	height:500px;
}

/*
用户主页面的css
*/

a,ul,li,i{
	color:#337ab7;
}

/*
顶部样式
*/
.navbar-top-links{
	margin-right:0;
}

.dropdown{
	margin-right:15px;
}

/*
页面规范
.pageNorm .pageframe{
	min-height: 343px;
}
*/

/*如果页面宽度大于 300*/
@media(min-width:768px) {
#page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
        height: 100%;
    }
}

.main_middle{
    margin-top:-80px;
}