<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"  
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"  
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"  
       xmlns:task="http://www.springframework.org/schema/task"  
       xsi:schemaLocation="  
         http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd  
         http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd  
         http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd  
         http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd  
         http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.0.xsd">  
  
   <bean id="propertyConfigurer"    
        class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">    
        <property name="locations">    
            <list>    
                <value>classpath:com/szc/resources/jdbc.properties</value>    
            </list>    
        </property>    
   </bean>    
  
   <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">  
  
      <property name="jdbcUrl" value="${jdbcUrl}"/>  
      <!--可以省略这个driveerClassName的指定，因为Druid提供了N个数据库的支持-->  
      <property name="driverClass" value="${driverClass}" />  
      <property name="user" value="${user}"/>  
      <property name="password" value="${password}"/>  
   </bean>  
  
   <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">  
      <!-- entity包扫描范围 -->  
      <property name="packagesToScan">  
         <list>  
            <value>com.szc.*</value>  
         </list>  
      </property>  
  
      <property name="dataSource" ref="dataSource" />  
      
      <property name="hibernateProperties">  
         <props> 
         	<prop key="current_session_context_class">thread</prop> 
            <prop key="hibernate.hbm2ddl.auto">update</prop>  
            <prop key="dialect">org.hibernate.dialect.MySQLDialect</prop>  
            <prop key="hibernate.show_sql">true</prop>  
            <prop key="hibernate.format_sql">true</prop>  
            <!-- <prop key="current_session_context_class">org.springframework.orm.hibernate4.SpringSessionContext</prop>
            <prop key="cache.provider_class">org.hibernate.cache.NoCacheProvider</prop>  -->
         </props>  
      </property>  
   </bean>  

   <!-- 事务配置 -->  
   <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">  
      <property name="sessionFactory" ref="sessionFactory" />  
   </bean>  
  
   <!-- 开启注解配置事务 -->  
   <tx:annotation-driven transaction-manager="transactionManager" />  
  
</beans>